/**
 * Profile page - Mobile CSS file
 */


/*
 * Profile navigation
 */
#profile__nav {
	display: flex;
	justify-content: space-evenly;
}

#profile__nav a {
	width: 30%;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	font-family: serif;
	font-size: 100%;
	
	border: none;
	background: none;
	
	padding: .5%;
}

#profile__nav a i {
	font-size: 150%;
    margin-bottom: 4%;
}

#profile__nav a i:nth-child(1) {
	margin-bottom: 6%;
}

#profile__nav a img {
	width: 25%;
    margin-bottom: 3%;
}

#profile__nav a:hover {
	font-size: 110%;
	font-weight: bolder;
	color: var(--secondary-color);
}

#profile__nav a:hover i {
	font-size: 130%;
	color: black;
	
	margin-bottom: 5%;
}



/*
 * User info section
 */
#profile__userInfo {
	height: 83%;
 
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center; 
}


#profile__role {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	font-weight: bold;
}

#profile__role img {
	width: 40%;
	border-radius: 50%;
	
	margin-bottom: 2%; 
}


#profile__info p {
	margin-bottom: 12%;
}

#profile__info span {
	font-style: italic;
	font-weight: bold;
}


#profile__logoutButton {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#profile__logoutButton i {
	font-size: 200%;

	margin: 2% 0;
}

#profile__logoutButton:hover {
	font-weight: bolder;
	color: var(--secondary-color);
}



/*
 * My topos
 */
