:root {
	--card-height: 15vh;
	--card-width: 90vw;
}

/* body {
	background-image: url("../../assets/backgrounds/mountain_background.jpg");
	background-size: cover;
	background-position-x: right;
} */


#siteContainer {
	display: flex;
	flex-direction: column;
	
	overflow: scroll;
}

#siteContainer h2 {
	order: 2;
}


/*
 * Search section
 */
#searchSection {
	order: 1;
	margin: 2% 2% 0 2%;
}

#textSearch {
	width: -webkit-fill-available;

    padding: 1%;
    margin-bottom: 2%;
}

#searchSection select {
	width: 48%;
}

button[type="submit"] {
	position: absolute;
	top: 1.3%;
	right: 3%;
	
    font-size: 120%;

    border: none;
    background: none;
}

button[type="submit"]:active {
	font-weight: bolder;
	color: var(--secondary-color);
}



/* 
 * Site cards
 */
#noSearchResult {
	order: 3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

	height: -webkit-fill-available;
    line-height: 200%;
    text-align: center;
    margin: 0 10%;
    
}
 
#siteCards {
	order: 3;

	display: flex;
	flex-direction: column;
	align-items: center;
	
	overflow-y: auto;
}

.siteCard {
	height: var(--card-height);
	width: var(--card-width);
	margin-bottom: 3%;
	
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	
	position: relative;

	border-radius: 10px;	
	background-size: cover;
	
	color: white;
	text-shadow: 1px 1px 5px black;
}


/* 
 * Site tag
 */
.siteTag i {
	position: absolute;
    left: 2%;
    
    margin-top: 1.5%;
	
	color: red;	
}

.siteTag p {
	display: none;
}


/* 
 * Site main info
 */
.siteMainInfo .siteCardName {
	position: relative;
    top: 175%;
    width: var(--card-width);
	
	font-size: 130%;
	font-weight: bolder;

	text-align: center;
}

.siteMainInfo .siteCardLocation {
	width: var(--card-width);
	
	position: absolute;
    bottom: 7%;
    left: 1%;
}

.siteMainInfo p {
	padding: 0 2%;
}


/* 
 * Site sub info
 */
.siteSubInfo {
	position: absolute;
	bottom: 5%;
	
	display: flex;
	justify-content: flex-end;
	
	margin-right: 3%; 
}

.siteSubInfo div {
	display: flex;
	
	text-shadow: 1px 1px 2px grey;
	margin: 0 8%;
}

.siteSubInfo div i {
	padding-right: 18%;
}