body {
	/* background-image: url("../../assets/backgrounds/mountain_background.jpg"); */
	background-size: cover;
	background-position-x: right;
}

#siteContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	text-align: center;
}