/**
 * Inscription page - Mobile CSS file
 */

 

/* Body & Container */
#inscriptionBody {
	background-image: url(../../assets/backgrounds/climber_background.png);
	background-size: cover;
	background-position-x: right;
}
 
#inscriptionContainer {
	display: flex;
    flex-direction: column;
    align-items: center;
}

#inscriptionContainer h2 {
	text-align: center;
	margin: 5% auto;
}

#inscriptionContainer p {
	text-align: center;
	font-style: italic;
	line-height: 1.5;
	margin: 0 5%;
}


/* inscription form */
#inscriptionForm {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 80%;
}

#inscriptionForm * {
	display: block;
	text-align: center;
	margin: 5%;
}

#inscriptionForm .field * {
	margin: 8% 0;
}

#inscriptionForm input[type="text"], #inscriptionForm input[type="password"] {
	text-align: center;
	padding-bottom: 0.6%;

	background: none;
	border: none;
	border-bottom: 1px solid;
}

#inscriptionForm input:focus {
	padding-bottom: 3%;
	outline: none;
}


/* Inscription button */
#inscriptionButton {
	border-radius: 20px;
	
	background-color: var(--main-color);
	color: var(--secondary-color);
	
	padding: 4% 10%;
	margin: 8% 0;
}

#inscriptionButton:hover {
	font-style: italic;
	transform: translate(0, -4px);
	background: var(--valide-color);
}


/* Logo & Footer */
#header__logo, #footer {
	display: none;
}