/**
 * Login page - Desktop CSS file
 */
 
 

/* Body & Container */
#loginBody {
	/* background-image: url(../../assets/backgrounds/climber_background.png); */
	background-size: cover;
	background-position-x: right;
}

#loginContainer {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* Login form */
#loginForm {
	display: flex;
    flex-direction: column;
    align-items: center;
	margin: 2% 0;
}

#loginForm * {
	text-align: center;
    margin: 5% 2%;
}

#loginForm input[type="text"], #loginForm input[type="password"] {
	text-align: center;
	
	width: 100%;
	background: none;
	
	padding-bottom: 0.6%;
	
	border: none;
	border-bottom: 1px solid;
}

#loginForm input:focus {
	padding-bottom: 3%;
	outline: none;
}



/* Login button */
#loginButton {
	border-radius: 20px;
	
	background-color: var(--main-color);
	color: var(--secondary-color);
	
	padding: 4% 10%;
}

#loginButton:hover {
	font-style: italic;
	transform: translate(0, -4px);
	background: var(--success-color);
}



/* Links */
#loginLinks {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#loginLinks a {	
	font-style: italic;
	
	margin: 2% 0;
}
