/**
 * Profile page - Desktop CSS file
 */

/*
 * Profile navigation
 */
#profile__nav {
	display: flex;
	justify-content: center;
	align-items: center;
	
	margin: 1% 5%;
}

#profile__nav a {
	width: 10%;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	font-family: serif;
	font-size: 100%;
	
	border: none;
	background: none;
	
	padding: .5%;
}

#profile__nav a i {
	font-size: 150%;
    margin-bottom: 4%;
}

#profile__nav a i:nth-child(1) {
	font-size: 165%;
}

#profile__nav a img {
	width: 18%;
    margin-bottom: 2%;
}

#profile__nav a:hover {
	font-size: 120%;
	font-weight: bolder;

	color: var(--secondary-color);
}

#profile__nav a:hover i {
	font-size: 130%;
	color: black;

	margin-bottom: 5%;
}

#profile__nav a:hover img {
	width: 16%;
	color: black;

	margin-bottom: 2%;
}



/*
 * User info section
 */
#profile__userInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#profile__role {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	color: black;
	
	margin: 2% 0;
}

#profile__role img {
	width: 40%;
	border-radius: 50%;
	
	margin-bottom: 2%; 
}

#profile__info p {
	margin-bottom: 8%;
}

#profile__info span {
	font-style: italic;
	font-weight: bold;
}


#profile__logoutButton {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin-top: 4%;
}

#profile__logoutButton i {
	font-size: 200%;

	margin: 2% 0;
}

#profile__logoutButton:hover {
	font-weight: bolder;
	color: var(--secondary-color);
}



/*
 * My Topos
 */
#profile__myTopos {
	height: 70vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin: 0 10%;
}

#myTopos__list {
	height: inherit;
	overflow: auto;
}

#myTopos__list .myTopos__topo {
	display: flex;
	width: 70vw;
	margin: 2% 0;
}


/* My Topos status */
#myTopos__list .myTopos__status {
	width: 5%;
}

#myTopos__list .myTopos__status--available {
	background-color: green;
}

#myTopos__list .myTopos__status--pending {
	background-color: orange;
}

#myTopos__list .myTopos__status--lent {
	background-color: grey;
}


/* My Topos body */
#myTopos__list .myTopos__body {
	display: flex;
	flex-direction: column;
	flex-basis: 60%;
	justify-content: center;
	align-items: center;
	
	padding: 1%;
	
	position: relative;
	
	background-color: cyan;
}

#myTopos__list .myTopos__body p:last-child {
	margin-top: 1%;
}

#myTopos__list .myTopos__date {
	font-size: 80%;
	font-style: italic;

	position: absolute;
	top: 8%;
	right: 1%;
	
	display: flex;
	align-items: center;
}

#myTopos__list .myTopos__date i {
	font-size: 120%;
}

#myTopos__list .myTopos__title {
	font-size: 110%;
}

#myTopos__list .myTopos__title span:first-child {
	font-weight: bold;
}

#myTopos__list .myTopos__title span:last-child {
	font-style: italic;
}

#myTopos__list .myTopos__lent {
	display: flex;
	flex-direction: column;
	flex-basis: 12%;
	justify-content: center;
	align-items: center;
}


/* My Topos borrower */
#myTopos__list .myTopos__borrower {
	display: flex;
	justify-content: center;
	align-items: center;
}
 
#myTopos__list .myTopos__avatar {
	width: 25%;
	border-radius: 50%;
	
	margin: 4%;
}


/* My Topos action icons */
#myTopos__list .myTopos__actionIcons {
	width: 8%;

	display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#myTopos__list .myTopos__actionIcons a i:hover {
	font-size: 120%;
}