/**
 * Profile page - Desktop CSS file
 */

/*
 * Profile navigation
 */
#profile__nav {
	display: flex;
	justify-content: center;
	align-items: center;
	
	margin: 1% 5%;
}

#profile__nav a {
	width: 10%;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	font-family: serif;
	font-size: 100%;
	
	border: none;
	background: none;
	
	padding: .5%;
}

#profile__nav a i {
	font-size: 150%;
    margin-bottom: 4%;
}

#profile__nav a i:nth-child(1) {
	font-size: 165%;
}

#profile__nav a img {
	width: 18%;
    margin-bottom: 2%;
}

#profile__nav a:hover {
	font-size: 120%;
	font-weight: bolder;

	color: var(--secondary-color);
}

#profile__nav a:hover i {
	font-size: 130%;
	color: black;

	margin-bottom: 5%;
}

#profile__nav a:hover img {
	width: 16%;
	color: black;

	margin-bottom: 2%;
}



/*
 * User info section
 */
#profile__userInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#profile__role {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	color: black;
	
	margin: 2% 0;
}

#profile__role img {
	width: 40%;
	border-radius: 50%;
	
	margin-bottom: 2%; 
}

#profile__info p {
	margin-bottom: 8%;
}

#profile__info span {
	font-style: italic;
	font-weight: bold;
}


#profile__logoutButton {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin-top: 4%;
}

#profile__logoutButton i {
	font-size: 200%;

	margin: 2% 0;
}

#profile__logoutButton:hover {
	font-weight: bolder;
	color: var(--secondary-color);
}



/*
 * My topos
 */
