/**
 * Profile page - Desktop CSS file
 */


/*
 * Profile body
 */
#profileBody {
	background-image: url(../../assets/backgrounds/profile_background.png);
    background-size: cover;
}

/*
 * Profile navigation
 */
#profile__nav {
	display: flex;
	justify-content: center;
	align-items: center;
	
	margin: 0% 5%;
}

#profile__nav a {
	width: 10%;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	font-family: serif;
	font-size: 100%;
	
	border: none;
	background: none;
	
	padding: .5%;
	margin: 1%;
}

#profile__nav a i {
	font-size: 150%;
    margin-bottom: 4%;
}

#profile__nav a i:nth-child(1) {
	font-size: 165%;
}

#profile__nav a img {
	width: 18%;
    margin-bottom: 2%;
}

#profile__nav a:hover {
	font-size: 120%;
	font-weight: bolder;

	color: var(--secondary-color);
}

#profile__nav a:hover i {
	font-size: 130%;
	color: black;

	margin-bottom: 5%;
}

#profile__nav a:hover img {
	width: 16%;
	color: black;

	margin-bottom: 2%;
}



/*
 * User info section
 */
#profile__userInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#profile__role {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	color: black;
	
	margin: 2% 0;
}

#profile__role img {
	width: 40%;
	border-radius: 50%;
	
	margin-bottom: 2%; 
}

#profile__info p {
	margin-bottom: 8%;
}

#profile__info span {
	font-style: italic;
	font-weight: bold;
}


#profile__logoutButton {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin-top: 4%;
}

#profile__logoutButton i {
	font-size: 200%;

	margin: 2% 0;
}

#profile__logoutButton:hover {
	font-weight: bolder;
	color: var(--secondary-color);
}




/*
 * Dashboard
 */
#noDashboard {
	display: none;
}
 
#profile__dashboard {
	height: 65vh;
	display: flex;
	box-shadow: #00000059 8px 10px;
	
	margin: 0 2%;
	
	overflow: auto;
} 

#dashboard__nav {
	display: flex;
	flex-direction: column;
	flex-basis: 6%;
	align-items: center;
	justify-content: space-evenly;
	
	background-color: #b9b6e2;	
}

#dashboard__nav a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
	
#dashboard__nav i {
	font-size: 140%;
	margin-bottom: 4%;
}

#dashboard__nav img {
	width: 28%;
}

#dashboard__content {
	height: inherit;
	width: calc(var(--body-width) - 4%);

	background-color: #ffff;
	box-shadow: inset #00000059 5px 0px;
}


/* Dashboard - KPI */
#dashboard__display {
	height: -webkit-fill-available;
    display: flex;
    flex-direction: column;

    padding: 1%;
}

#dashboard__display h3 {
	display: flex;
	align-items: center;
}

#dashboard__display h3 i {
	font-size: 150%;
	margin-right: .5%;
}

#dashboard__display #kpiTab__content {
	display: flex;
	flex-basis: 100%;
	justify-content: space-evenly;
	align-items: center;	
}

#dashboard__display #kpiTab__content h4 {
	text-align: center;
}

#dashboard__display .kpiTab__card {
	width: 12vw;
    height: 40vh;

	background-color: #93cef8;
	color: var(--white-color);
	
	padding: 1%;
	padding-top: 0;
}

#dashboard__display .kpiTab__cardTitle {
	font-size: 150%;
	background-color: #282896;

	padding: 5%;
}

#dashboard__display .kpiTab__cardBody {
	display: flex;
	height: 90%;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;	
	
	color: var(--black-color);
}

#dashboard__display .kpiTab__cardBody div:first-child {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	

	margin: 2% 0;
}

#dashboard__display .kpiTab__cardBody div:first-child p:first-child {
	font-size: 280%;
	font-weight: bolder;
}

#dashboard__display .kpiTab__cardBody div:first-child p:nth-child(2) {
	font-size: 260%;
}

#dashboard__display .kpiTab__cardBody div:nth-child(2) {
	font-style: italic;
	line-height: 1.5;
}

#dashboard__display .kpiTab__cardBody div:nth-child(2) span {
	font-size: 140%;
	font-weight: bolder;
}



/* Dashboard - Users */
#dashboard__usersTab {
	height: -webkit-fill-available;
    padding: 1%;
    
    display: flex;
    flex-direction: column;
}

#dashboard__usersTab h3 {
	display: flex;
	align-items: center;
}

#dashboard__usersTab h3 i {
	font-size: 150%;
	margin-right: 1%;
}

#usersTab__content {
	height: 95%;

	display: flex;
	justify-content: space-around;
	
	padding-top: 1%;  
}

#usersTab__content div {
	width: 15vw;
	height: fit-content;

    padding: 1%
}

#usersTab__content * h3 {
	display: flex;
	justify-content: center;
	margin-bottom: 5%;
}

#usersTab__userList {
	height: inherit;    
    display: flex;
    flex-direction: column;
    align-items: center;
      
    overflow: auto;
}


#usersTab__userList .user__tile {
	display: flex;
    width: 45%;
    align-items: center;

    padding: 2%;
    margin: 4% 0;

	background-color: #ffb8a6;
}

#usersTab__userList .user__tile img {
	width: 30%;
	border-radius: 50%;
	
	margin: 1%;
	margin-right: 10%;
}

#usersTab__content .tile {
	background-color: #ff7979;
}

#usersTab__userDetails {
	display: flex;
    flex-direction: column;
    align-items: center;
    
    position: relative;
}

#usersTab__userDetailsContent #user__info, #usersTab__userDetailsContent #user__dates {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	line-height: 2;
}

#usersTab__userDetailsContent #user__info span, #usersTab__userDetailsContent #user__dates span {
	font-style: italic;
	font-weight: bolder;
}

#usersTab__userDetails #usersTab__userActionButtons {	
	display: flex;
	width: 100%;
	justify-content: space-around;
	
	margin-top: 4%;
}

#usersTab__editUserForm label {
	font-weight: bolder;
	margin-right: 4%;
}

#usersTab__editUserForm input, #usersTab__editUserForm select {	
	width: 40%;
	
	border: none;
	border-bottom: 1px solid black;
	background: none;
	outline: none;

	padding: .2% .4%;
	
	z-index: 1;
}

#usersTab__editUserForm button[type="submit"] {	
	margin: 5% auto;
    width: -webkit-fill-available;
    
    border: none;
    background: none;
}

#usersTab__editUserForm button[type="submit"] i {
	font-size: 150%;
}

#usersTab__userToposList div, #usersTab__userCommentsList div {
	background-color: #ffb8a6;
	padding: 1%;
}

#usersTab__userToposList span, #usersTab__userCommentsList span {
	font-weight: bolder;
	font-style: italic;
}

#usersTab__userToposList, #usersTab__userCommentsList {
	overflow: auto;
}

#usersTab__userToposList div, #usersTab__userCommentsList div {
	margin-bottom: 4%;
}



/* Dashboard - Sites */
#dashboard__sitesTab {
	height: -webkit-fill-available;
    padding: 1%;
    
    display: flex;
    flex-direction: column;
}

#dashboard__sitesTab h3 {
	display: flex;
	align-items: center;
}

#dashboard__sitesTab h3 img {
	width: 2%;
	margin-right: 1%;
}

#sitesTab__content {
	height: 90%;

	display: flex;
	justify-content: space-around;
	
	padding-top: 1%;
	
	overflow: auto;
}

#sitesTab__content h4 {
	text-align: center;

	margin-bottom: 4%;
}

#sitesTab__content span:first-child {
	font-weight: bolder;
	font-style: italic;
}

#sitesTab__siteList {    
    display: flex;
    flex-direction: column;
    align-items: center;
}


#sitesTab__siteList .site__tile {
	width: 20vw;
	display: flex;
	justify-content: center;
    align-items: center;

    padding: 5%;
    margin-bottom: 5%;
    
    word-break: break-all;

	background-color: #a6e8a6;
}

#dashboard__sitesTab .details,  #dashboard__sitesTab #sitesTab__sectorList, #dashboard__sitesTab #sitesTab__routeList,  #dashboard__sitesTab #sitesTab__lengthList,  #dashboard__sitesTab #sitesTab__topoList{
	width: 10%;
    height: min-content;

	display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #a6e8a6;
    padding: 1%;
}

#dashboard__sitesTab .details * {
	margin: 4% 0;
}

#siteTab__sectorList form input, #siteTab__sectorList form select {	
	width: 40%;
	
	border: none;
	border-bottom: 1px solid black;
	background: none;
	outline: none;

	padding: .2% .4%;
	
	z-index: 1;
}

#siteTab__sectorList form button[type="submit"] {	
	margin: 5% auto;
    width: -webkit-fill-available;
    
    border: none;
    background: none;
}

#siteTab__sectorList form button[type="submit"] i {
	font-size: 150%;
}

#dashboard__sitesTab .actionButtons {	
	display: flex;
	width: 80%;
	justify-content: space-around;
	
	margin: 4%;
}

#sitesTab__topoList div {
	margin-bottom: 10%;
}

	

/*
 * My Topos
 */
#profile__myTopos {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	overflow: auto;

	height: 63vh;
}

/* My Topos form */
#myTopos__addForm {
	background-color: lightblue;
	border-radius: 5px;

	padding: 1%;	
	margin-bottom: 2%;
}

#myTopos__addForm h3 {
	text-align: center;
	margin-bottom: 5%;	
}

#myTopos__form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#myTopos__form label {
	font-weight: bolder;
}

#myTopos__form *:nth-child(2n) {
	margin-top: 10%; 
}

#myTopos__form input, #myTopos__form select, #myTopos__form textarea {
	border: none;
	border-bottom: 1px solid black;
	background: none;
	outline: none;
}

#myTopos__form input, #myTopos__form select {
	padding: 1%;
	margin: 4% 0;
}

#myTopos__form textarea {
	padding: .2% .4%;
}

#myTopos__form #myTopo__submitButton {
	font-size: 110%;
	
	background: none;
	border: none;
}

#myTopos__form #myTopo__submitButton:hover {
	font-size: 120%;
	color: green;
}


/* My Topos list */
#myTopos__list {
	height: inherit;
}

#myTopos__list .myTopos__topo {
	display: flex;
	width: 70vw;
	margin: 2% 0;
}


/* My Topos status */
#myTopos__list .myTopos__status {
	width: 5%;
	clip-path: circle(40% at 50% 50%);

    padding: 1%;
}

#myTopos__list .myTopos__status--available {
	background-color: green;
}

#myTopos__list .myTopos__status--pending {
	background-color: orange;
}

#myTopos__list .myTopos__status--lent {
	background-color: grey;
}

#myTopos__list .myTopos__status--withheld {
	background-color: black;
}


/* My Topos body */
#myTopos__list .myTopos__body {
	display: flex;
	flex-direction: column;
	flex-basis: 60%;
	justify-content: center;
	align-items: center;
	
	border-radius: 8px;
	
	padding: 1%;
	margin: 0;
	
	position: relative;
	
	background-color: white;
}

#myTopos__list .myTopos__body p:last-child {
	word-break: break-all;

	margin-top: 1%;
}

#myTopos__list .myTopos__date {
	font-size: 80%;
	font-style: italic;

	position: absolute;
	top: 8%;
	right: 1%;
	
	display: flex;
	align-items: center;
}

#myTopos__list .myTopos__date i {
	font-size: 120%;
}

#myTopos__list .myTopos__title {
	font-size: 110%;
}

#myTopos__list .myTopos__title span:first-child {
	font-weight: bold;
}

#myTopos__list .myTopos__title span:last-child {
	font-style: italic;
}

#myTopos__list .myTopos__lent {
	display: flex;
	flex-direction: column;
	flex-basis: 12%;
	justify-content: center;
	align-items: center;
}

#myTopos__list .myTopos__pending p:first-child, #myTopos__list .myTopos__lent p:first-child {
	font-style: italic;
}


/* My Topos borrower */
#myTopos__list .myTopos__borrower {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#myTopos__list .myTopos__borrowerAvatar, #myTopos__list .myTopos__borrowerEmail {
	display: flex;
	justify-content: center;
	align-items: center;
}
 
#myTopos__list .myTopos__avatar {
	width: 25%;
	border-radius: 50%;
	
	margin: 4%;
}

#myTopos__list .myTopos__borrowerEmail {
	margin-bottom: 2%;
}

#myTopos__list .myTopos__borrowerEmail i {
	margin-right: 5%;
}


/* My Topos action icons */
#myTopos__list .myTopos__actionIcons {
	width: 8%;

	display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#myTopos__list .myTopos__actionIcons a i:hover {
	font-size: 120%;
}