/* Variables */
:root {
	--details-height: 40vh;
	--details-width: 80vw;
}


/*
 * Body & Container
 */
/* #siteDetailsBody {
	background-image: url("../../assets/backgrounds/mountain_background.jpg");
	background-size: cover;
	background-position-x: right;
} */


#siteDetailsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 2%;
}

.title {
	margin-bottom: 1%;
}

#siteDetailsCard {
	height: var(--details-height);
	width: var(--details-width);
	
	display: flex;
	
	box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, .2);	
	background: #0FD281;
}

#siteTag {
	font-size: 200%;
	color: red;

	margin: .5% 0 0 1%;
}

#siteCover {
	width: 12vw;
}

#siteInfo {
	width: 80%;
	
	display: flex;
	flex-direction: column;

	padding: 1%;
}

#siteHeader {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#siteHeader #siteLocation {
	font-size: 90%;
	font-style: italic;
}

#siteHeader p:last-child {
	margin: 2% 0;
}

#siteElements {
	width: -webkit-fill-available;
	
	display: flex;
	justify-content: space-around;

	padding: 1% 2%;
}

#siteElements * h3 {
	padding-bottom: 8%;
}

.center {
	text-align: center;
}