/* Fonts */
@font-face {
	font-family: "My Empire Wont Fall";
	src: "../fonts/My Empire Wont Fall.ttf";
}


/* 
 * Body
 */
#splashscreen {
  background-image: url("../../assets/splashscreen_background.png");
  background-size: cover;
  background-position-x: 100%;
  background-repeat: no-repeat;
}


/*
 * Logo
 */
#logo {
	height: 10%;
	margin: 1.5% 1%; 
}


/*
 * Quote
 */
#quote {
	position: absolute;
	top: 30%;
	left: 20%;
	
	font-family: "My Empire Wont Fall", Helvetica, "Times New Roman", serif;
	font-size: 2em; 
}

#author {
	text-align: right;
	font-style: italic;
	
	margin: 2%;
}