/* Variables */
:root {
	--main-color: black;
	--secondary-color: white;
	
	--body-height: 100vh;
	--body-width: 100vw;
	--navbar-height: 10vh;
	--footer-height: 5vh;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


/*
 * HTML & body
 */
html, body {
	position: relative;
	
	height: var(--body-height);
	width: var(--body-width);
	
	display: flex;
	flex-direction: column;
	
	color: var(--main-color);
	
	margin: 0;
	padding: 0;
}



/*
 * Header
 */
#header {
	height: var(--navbar-height);
	width: var(--body-width);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header__logo {
	height: 80%;
	padding: 0.5% 0% 0.5% 1%;
}

#header__navbar {
	height: var(--navbar-height);
	width: 35%;
	
	display: flex;
	justify-content: flex-end;
}

#header__navbar a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-basis: 20%;
	
	text-decoration: none;
	line-height: 1.5;
	color: var(--main-color);
}

#header__navbar img {
	width: 35%;
}

#header__navbar a:hover {
	line-height: 2;
	font-weight: bolder;
	color: var(--secondary-color);
}



/*
 * Container
 */
.container {
	height: calc(var(--body-height) - var(--navbar-height) - var(--footer-height));
	display: flex;
}



/*
 * Footer
 */
#footer {
 	height: var(--footer-height);
 	width: var(--body-width);
 	
	display: flex;
    justify-content: space-between;
    align-items: center;
    
    position: fixed;
    bottom: 0;
    left: 0;
}

#footer p {
	position: absolute;
    left: 45%;
}

#footer img {
	height: 60%;
	margin: 0% 1%;
}

#social_network {	
	display: flex;
	justify-content: space-evenly;
	flex-basis: 10vw;
}

#social_network img {
	width: 18%;
}

#social_network img:hover {
	width: 22%;
}