/* 
 * Mobile version
 */

/* Variables */
:root {
	--main-color: black;
	--secondary-color: orange;
	--white-color: white;
	
	--body-height: 100vh;
	--body-width: 100vw;
	
	--navbar-height: 10vh;
	--mobile-navbar-color: rgba(183, 147, 120, 0.8);
	
	--success-color: green;
	--success-background: rgba(0, 156, 34, 1);
	
	--error-color: red;
	--error-background: rgba(182, 2, 2, 1);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a {
	text-decoration: none;
}


/*
 * HTML & body
 */
html, body {
	position: relative;
	
	height: var(--body-height);
	width: var(--body-width);
	
	display: flex;
	flex-direction: column;
	
	color: var(--main-color);
	
	margin: 0;
	padding: 0;
}



/* Logo, Footer */
#header__logo, #footer {
	display: none;
}



/* Container */
.container {
	order: 1;
	
	height: calc(var(--body-height) - var(--navbar-height));
	max-width: var(--body-width);
	
	scroll: auto;
}


/*
 * Toasts
 */
.toast {
	position: absolute;
	top: 1%;
    z-index: 100;
	
	display: flex;
	justify-content: flex-start;
	align-items: center;

	padding: 0.2% 0;
	border-radius: 10px;
	margin: 2%;
	
	animation: fadein 2s;
}

@-webkit-keyframes fadein {
    from {
        opacity:0;
        transform: translateY(-130%);
    }
    to {
   		transform: translateY(0%);
        opacity:1;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity:1;
        transform: translateY(0%);
    }
    to {
   		transform: translateY(-150%);
        opacity:0;
    }
}

.toast img {
	width: 10%;
	margin: 0 4%;
}

.toast p {
	font-size: 85%;
	font-style: italic;
	font-weight: bold;
	color: var(--white-color);
	
	padding: 1%; 
}

.toast.error {
	background: var(--error-background);
}

.toast.success {
	background: var(--success-background);
}


/* Navbar */
#header {
	order: 2;
	
	height: var(--navbar-height);
	width: var(--body-width);
	
	position: fixed;
    bottom: -1px;
    left: 0;
}

#header__navbar {
	height: var(--navbar-height);
	width: var(--body-width);
	
	display: flex;
	justify-content: space-around;
	
	background-color: var(--mobile-navbar-color);
}

#header__navbar a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-basis: 20%;
	
	text-decoration: none;
	color: var(--main-color);
}

#header__navbar img {
	width: 50%;
}

#header__navbar a:active {
	line-height: 2;
	font-weight: bolder;
	color: var(--secondary-color);
}