*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/*
 * HTML & body
 */
body, html {
	position: relative;
	
	height: 100vh;
	width: 100vw;
	
	margin: 0;
	padding: 0;
}


/*
 * Container
 */
.container {
	height: 90vh;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	text-align: center;
	font-style: italic;
	
	margin: 0% auto;
}