/* Variables */
:root {
	--navbar-height: 10vh;
	--navbar-color: black;
	--navbar-color-alternative: rgb(126, 97, 78);
}



*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


/*
 * HTML & body
 */
body, html {
	position: relative;
	
	height: 100vh;
	width: 100vw;
	
	margin: 0;
	padding: 0;
	
	display: flex;
	flex-direction: column;
}



/*
 * Header
 */
#header {
	height: var(--navbar-height);
	width: 100vw;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header__logo {
	height: 80%;
	padding: 0.5% 0% 0.5% 1%;
}

#header__navbar {
	height: var(--navbar-height);
	width: 20%;
	
	display: flex;
	justify-content: space-around;
	
	margin-right: 1%;
}

#header__navbar a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	text-decoration: none;
	color: var(--navbar-color);
}

#header__navbar i {
	font-size: 200%;
	color: var(--navbar-color);
	
	padding-bottom: 5%;
}

#header__navbar .fa.fa-book {
	padding-bottom: 8%;
}

#header__navbar i:hover {
	font-size: 250%;
	color: var(--navbar-color-alternative);
}



/*
 * Container
 */
.container {
	height: 85vh;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	text-align: center;
	font-style: italic;
	
	margin: 0% auto;
}



/*
 * Footer
 */
#footer {
 	height: 5vh;
 	width: 100vw;
    
    position: fixed;
    bottom: 0;
    left: 0;
}

/* Footer - Desktop version */
@media screen and (min-width: 769px) and (max-width: 3000px) {
	#footer {
		display: flex;
	    justify-content: space-between;
	    align-items: center;
	}
}

#footer img {
	height: 50%;
	margin: 0% 1%;
}

#social_network {
	width: 10vw;
	
	display: flex;
	justify-content: space-evenly;
}

#social_network img {
	width: 20%;
}

/* Footer - Mobile version */
@media screen and (max-width: 769px) {
	#footer {
		display: none;
	}
}