*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/*
 * HTML & body
 */
body, html {
	position: relative;
	
	height: 100vh;
	width: 100vw;
	
	margin: 0;
	padding: 0;
}