/* 
 * Mobile version
 */

/* Variables */
:root {
	--main-color: #FF6725;
	--secondary-color: #04B335;
	--black-color: black;
	--grey-color: #F8F8FB;
	--white-color: white;
	
	--body-height: 100vh;
	--body-width: 100vw;
	
	--navbar-height: 10vh;
	--navbar-width: 100vw;
	
	--success-color: green;
	--success-background: rgba(0, 156, 34, 1);
	
	--error-color: red;
	--error-background: rgba(182, 2, 2, 1);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a {
	text-decoration: none;
	color: var(--black-color);
}

a:hover {
	font-size: 105%;
	color: var(--white-color);
}


/*
 * HTML & body
 */
html, body {
	position: relative;
	
	height: var(--body-height);
	width: var(--body-width);
	
	display: flex;
	flex-direction: column;
	
	background-color: var(--white-color);
	color: var(--black-color);
	
	margin: 0;
	padding: 0;
}



/* Logo, Footer */
#header__logo, #footer {
	display: none;
}



/* Container */
.container {
	height: calc(var(--body-height) - var(--navbar-height));
}

.title {
	display: block;
	font-weight: bolder;
	text-align: center;
	
	margin: 5% 0;
}


/*
 * Toasts
 */
.toast {
	position: absolute;
	top: 1%;
    z-index: 100;
	
	display: flex;
	justify-content: flex-start;
	align-items: center;

	padding: 0.2% 0;
	border-radius: 10px;
	margin: 2%;
	
	animation: fadein 2s;
}

@-webkit-keyframes fadein {
    from {
        opacity:0;
        transform: translateY(-130%);
    }
    to {
   		transform: translateY(0%);
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
        transform: translateY(0%);
    }
    to {
   		transform: translateY(-150%);
        opacity: 0;
    }
}

.toast img {
	width: 10%;
	margin: 0 4%;
}

.toast p {
	font-size: 85%;
	font-style: italic;
	font-weight: bold;
	color: var(--white-color);
	
	padding: 1%; 
}

.toast.error {
	background: var(--error-background);
}

.toast.success {
	background: var(--success-background);
}


/* Navbar */
#header {	
	height: var(--navbar-height);
	
	position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
	z-index: 100;
	
	will-change: transform;
	transform: translateZ(0);
}

#header__navbar {
	height: var(--navbar-height);
	width: var(--navbar-width);
	
	display: flex;
	justify-content: space-around;
	
	border-radius: 10px 10px 0 0;
	box-shadow: 0 -2px 5px -2px #333;
	background-color: var(--main-color);
}

#header__navbar a {
	display: flex;
	flex-direction: column;
	flex-basis: 20%;
	align-items: center;
	justify-content: center;
}

#header__navbar img {
	width: 50%;
}

#header__navbar a:active {
	line-height: 2;
	font-weight: bolder;
}