/* 
 * Mobile version
 */

/* Variables */
:root {
	--main-color: black;
	--secondary-color: white;	
	
	--body-height: 100vh;
	--body-width: 100vw;
	
	--navbar-height: 10vh;
	--mobile-navbar-color: rgba(183, 147, 120, 0.8);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a {
	text-decoration: none;
}


/*
 * HTML & body
 */
html, body {
	position: relative;
	
	height: var(--body-height);
	width: var(--body-width);
	
	display: flex;
	flex-direction: column;
	
	color: var(--main-color);
	
	margin: 0;
	padding: 0;
}



/* Logo, Footer */
#header__logo, #footer {
	display: none;
}



/* Container */
.container {
	order: 1;
	
	height: 90vh;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	text-align: center;
	font-style: italic;
	
	margin: 0% auto;
}



/* Navbar */
#header {
	order: 2;
	
	height: var(--navbar-height);
	width: var(--body-width);
	
	position: fixed;
    bottom: -1px;
    left: 0;
}

#header__navbar {
	height: var(--navbar-height);
	width: var(--body-width);
	
	display: flex;
	justify-content: space-around;
	
	background-color: var(--mobile-navbar-color);
}

#header__navbar a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-basis: 20%;
	
	text-decoration: none;
	color: var(--main-color);
}

#header__navbar img {
	width: 50%;
}

#header__navbar a:active {
	line-height: 2;
	font-weight: bolder;
	color: var(--secondary-color);
}